<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center title">
        <strong> VERY </strong> GOOD <strong>READ</strong>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let item of books; let in = index">
        <div class="col-md-3" style="float: left;">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="data">
                <h3>{{ item.title }}</h3>
                <p>{{ item.author }}</p>
                <img
                  class="images"
                  [src]="item.coverImage"
                  style="width: 100%;"
                />
                <br /><br />
                <p style="text-align: justify;">Rate : {{ item.rating }}</p>
                <p style="text-align: justify;">
                  Category : {{ item.category }}
                </p>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button (click)="addToCart(item, in)" [ngClass]="item.add">
                    {{ item.button }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default min-h1">
        <div class="panel-body">
          <h3><strong> Want </strong> to <strong>Read</strong> List</h3>

          <br /><br />
          <div *ngFor="let list of listCart; let x = index">
            <div class="lists">
              <div class="col-md-12">
                <h4>{{ x + 1 }}. {{ list.title }}</h4>
              </div>
              <div class="col-md-12">
                <p class="pad-20">{{ list.author }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
